.footer {
  height: 500px;
}
.footer__body {
  display: flex;
  object-fit: contain;
  padding: 30px;
  margin-left: 20%;
  margin-right: auto;
  padding-top: 150px;
}

.footer__cols {
  color: gray;
  margin: 20px;
  padding: 20px;
}

.footer__text {
  margin: 15px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.footer__text:hover{
    color: white;
}

.footer__copyright {
  margin-top: 50px;
  margin-left: 15px;
  font-size: 0.7rem;
  font-weight: 600;
  border: none;
}
